/*-------------------------------------------------------------------------------------------*/

/* Admin Styles */

/*-------------------------------------------------------------------------------------------*/



div.updated {

	background-color: #FFFFE0;

    border-color: #E6DB55;

    left: 30%;

    position: fixed;

    top: 50%;

    width: 20%;

    z-index: 999;

}



#icon-themes {

	background:url(../images/ico_title.png) 0 0 no-repeat;

	margin:10px 0 0 10px;

}



#of_container {

	margin: 10px 0;

	width: 800px;

	font-family:Arial, Tahoma, sans serif;

	position:relative;

	z-index: 0

}

#of_container #header {

	height: 60px;

	/*background:#dfdfdf url("../images/headbg.gif") repeat left top;

	border: 1px solid #ccc;*/

	border-top-left-radius: 6px;

	-moz-border-radius-topleft: 6px;

	-webkit-border-top-left-radius: 6px;

	-webkit-border-top-right-radius: 6px;

	border-top-right-radius: 6px;

	-moz-border-radius-topright: 6px;

}

#of_container #header .logo {

	float: left;

	margin:5px 5px;

    /*background: url("../images/configure.png") no-repeat left;

    padding-left:40px;*/

}

#of_container #header .logo h2 {

	font-style:normal;

	font-size: 20px;

	line-height: 26px;

}

#of_container #main {

	/*background-color: #f1f1f1;*/

	border: 1px solid #d8d8d8;

	border-top-left-radius: 6px;

	border-top-right-radius: 6px;

	-moz-border-radius-topleft: 6px;

	-moz-border-radius-topright: 6px;

	-webkit-border-top-right-radius: 6px;

	-webkit-border-top-left-radius: 6px;

}

#of_container #header .site5author {

	float: right;

	margin:5px 0;

    /*padding-left:400px;*/

}

#of_container #header .site5author a {

    color:#666;

    font-size:11px;

    text-decoration:none;

}

#of_container #header .site5author a:hover {

	color:#FF2779;

}



#of_container #of-nav {

	float: left;

	position: relative;

	z-index: 9999;

	width: 160px;

}



#of_container #of-nav ul {

	margin:0;

}



#of_container #of-nav ul li:first-child a {

	margin:0;

	border-top-left-radius: 6px;

	-moz-border-radius-topleft: 6px;

	-webkit-border-top-left-radius: 6px;

}



#of_container #of-nav li {

	margin-bottom:0

}



#of_container #of-nav li a img {

	margin-right:5px;

}

#of_container #of-nav ul li a:link, #of-nav ul li a:visited {

	display: block;

	padding: 12px 10px 12px 15px;

	font-size: 13px;

	text-decoration: none;

	color: #797979;

	border-bottom: 1px solid #dedede;

	border-right: 1px solid #dedede;

	border-top: 1px solid #fff;

	background:#F7F7F7;

	background-image: linear-gradient(bottom, rgb(240,240,240) 0%, rgb(247,247,247) 36%);

	background-image: -o-linear-gradient(bottom, rgb(240,240,240) 0%, rgb(247,247,247) 36%);

	background-image: -moz-linear-gradient(bottom, rgb(240,240,240) 0%, rgb(247,247,247) 36%);

	background-image: -webkit-linear-gradient(bottom, rgb(240,240,240) 0%, rgb(247,247,247) 36%);

	background-image: -ms-linear-gradient(bottom, rgb(240,240,240) 0%, rgb(247,247,247) 36%);



	background-image: -webkit-gradient(

		linear,

		left bottom,

		left top,

		color-stop(0, rgb(240,240,240)),

		color-stop(0.36, rgb(247,247,247))

	);

	-webkit-transition:color 0.1s ease-in;

   -moz-transition:color 0.1s ease-in;

   -o-transition:color 0.1s ease-in;

   transition:color 0.1s ease-in;

}

#of_container #of-nav ul li.current a {

	color: #000;

	background:#fff;

}



#of_container #of-nav ul li a:hover {

	color:#000;

}



#of_container #of-nav ul li.current a{

    font-weight:bold;

    border-right:none;

}

#of_container #content {

	float: left;

	min-height: 560px;

	width: 598px;

	margin-left: -1px;

	padding: 10px 15px 10px 25px;

	background-color: #fff;

	border-left: 1px solid #dedede;

	-moz-border-radius-topright: 6px;

	-webkit-border-top-right-radius: 6px;

	border-top-right-radius: 6px;

}

#of_container #content .section {

	margin-bottom: 10px;

	border-bottom: 1px solid #ddd;

	padding-bottom:15px;

}

#of_container #content .sectionlast {

	margin-bottom: 40px;

	border-bottom: 2px solid #ED2E68;

	padding-bottom:20px;

}

#of_container #content .section h3.heading {

	margin: 10px 0 10px 0;

	padding: 7px 0px;

	/*border-bottom: 1px solid #e7e7e7;*/

	font-size:13px;

	font-weight:bold;

}

#of_container #content .section .controls {

	float: left;

	/*width: 345px;*/

	margin: 0;



}

#of_container #content .section .explain {

	float: left;

	/*width: 225px;*/

	padding: 7px 10px 0 0;

	font-size: 11px;

	color: #999999;

	font-style:italic;

	clear:both;

}

#of_container #content .section-checkbox .controls {

	width:25px

}

#of_container #content .section-checkbox .explain {

	width:540px

}

#of_container #content .section-color .controls {

	width:125px

}

#of_container #content .section-color .explain {

	width:440px

}

#of_container textarea, #of_container input, #of_container select {

	border-radius-topright:4px;

	border: 1px solid #CCCCCC;

	-moz-box-shadow: 0 1px 2px #EEEEEE inset;

	-webkit-box-shadow: 0 1px 2px #EEEEEE inset;

	box-shadow: 0 1px 2px #EEEEEE inset;

}

#of_container .controls input, #of_container .controls select, #of_container .controls textarea {

	/*margin-bottom: 10px;

	background-color: #f1f1f1;

	border: 1px solid;

	border-color: #ccc #e6e6e6 #e6e6e6 #ccc;*/

	width: 340px;

	padding: 6px;

	font-size: 12px;

}

#of_container .controls select {

	padding: 2px 0 0 4px;

	width: 340px

}

#of_container .controls textarea {

	width: 405px;

}

#of_container input[type=text] {

	width: 400px;

}

#of_container input.checkbox {

	width: 30px;

}

#of_container input.of-radio {

	width: 30px;

}

#of_container .controls .of-color {

	float:left;

	width: 80px;

	margin-left:5px;

}

#of_container #content .section-typography .controls {

	width:425px

}

#of_container #content .section-typography .explain {

	/*width:140px*/

}

#of_container .controls .of-typography-size {

	width:80px;

	float:left

}

#of_container .controls .of-typography-unit {

	width:50px;

	float:left

}

#of_container .controls .of-typography-face {

	width:100px;

	float:left

}

#of_container .controls .of-typography-style {

	width:80px;

	float:left

}

#of_container #content .section-background .controls {

	width:425px

}

#of_container #content .section-background .explain {

	width:140px

}

#of_container .of-background-properties {

	margin-top: 18px;

}

#of_container .controls .of-background-repeat {

	width:160px;

	float:left

}

#of_container .controls .of-background-position {

	width:125px;

	float:left

}

#of_container .controls .of-background-attachment {

	width:125px;

	float:left

}

#of_container div.section-background .controls input.upload {

    /*width: 240px;*/

}

#of_container .controls .of-radio-img-img {

	border:3px solid #fff;

	margin:0 5px 10px 0;

	display:none;

	cursor:pointer;

	float:left;

}

#of_container .controls .of-radio-img-selected {

	border:3px solid #ccc

}

#of_container .controls .of-radio-img-img:hover {

	opacity:.8;

}

#of_container .controls .of-border-width {

	width:80px;

	float:left

}

#of_container .controls .of-border-style {

	width:120px;

	float:left

}

#of_container .group {

	padding-bottom:20px

}

#of_container .group h2 {

	display:none;

	border-bottom:3px solid #e7e7e7

}

#of_container .controls input:focus, #of_container select:focus, #of_container textarea:focus {

	background:#fff;

}

#of_container .hide {

	display:none;

}

#of_container .of-option-image {

	max-width:340px;

	margin:3px 0 18px 0;

}

#of_container .mini .controls select, #of_container #content .section .mini .controls {

	width: 70px;

}

#of_container .mini .controls input, #of_container #content .mini .controls {

	width: 70px;

}

#of_container #content .mini .explain {

	width:500px;

}



/* Image Uploader */



#of_container .controls input.upload {

	/*width:280px;*/

	padding-bottom:6px;

}

#of_container .controls input.upload_button {

	/*float:right;

	*/

	width:45px;

	border-color:#BBBBBB;

	cursor:pointer;

	height:16px;

}

#of_container .controls input.upload_button:hover {

	border-color:#666666;

	color:#000;

}

#of_container .screenshot {

	float:left;

	margin-left:1px;

	position:relative;

	width:344px;

	margin-top:15px;

}

#of_container .section-background .screenshot {

	margin-bottom:18px;

}

#of_container .screenshot img {

	-moz-border-radius:4px;

	-webkit-border-radius:4px;

	border-radius:4px;

	background:#FAFAFA;

	border-color:#ccc #eee #eee #ccc;

	border-style:solid;

	border-width:1px;

	float:left;

	max-width:334px;

	padding:15px;

}

#of_container .screenshot .mlu_remove {

	background:url("../images/ico-delete.png") no-repeat;

	border:medium none;

	bottom:-4px;

	display:block;

	float:left;

	height:16px;

	padding:0;

	position:absolute;

	left:-4px;

	text-indent:-9999px;

	width:16px;

}

#of_container .screenshot .no_image .file_link {

	margin-left: 20px;

}

#of_container .screenshot .no_image .mlu_remove {

	bottom: 0px;

}

#of_container .reset-button {

	float:left;

	cursor:pointer;

}



/* Bottom Section */



#of_container .button-primary {

	float:right;

}

#of_container .of_admin_bar {

	background: #f3f3f3;

	border:solid #ccc;

	border-width:0px 1px 1px 1px;

	padding: 10px 20px 0px 20px;

	height: 35px;

	text-align: right;

	-moz-border-radius-bottomright: 6px;

	-moz-border-radius-bottomleft: 6px;

	-webkit-border-bottom-right-radius: 6px;

	-webkit-border-bottom-left-radius: 6px;

	border-bottom-right-radius: 6px;

	border-bottom-left-radius: 6px;

}



#of_container #snb_bodyfontlink, #of_container #snb_headingfontlink {

	height:80px;

}